<p id="notice">
 <%=  notice %>
</p>

<p><b>Title:</b><%= @book.title %><p>
<p><b>Body:</b><%= @book.body %></p>

<%= link_to "Edit", edit_book_path(@book), class:"edit_#{@book}" %>
<%= link_to "Back", new_book_path, class:"back" %>